*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;  
}
body{
    overflow-x: hidden;
}
.col-12{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
a:hover{
    text-decoration: none;
}
.heading-secondary{
    display: flex;
    justify-content: center;
}
.app {
    display: inline-flex;
    margin: 1.5rem;
    justify-content: center;
  }
.fulllist{
    padding-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 0px;
}
.elistcard:nth-last-child(n){
    margin-bottom: 0px;
}
.elistcard{
    margin-bottom: 50px !important;
    margin-top: 30px !important;
    animation: moveInLeft 0.8s ease-out;
    border-radius: 2rem !important;
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 15px 0px;
}
.elistcard:first-child{
    margin-top: 0px;
}
.elistcard:hover{
    transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.elistcard:hover .event-image{
    transform: scale(1.1);
}
.upcoming-events{
    padding: 50px;
    columns: 1;
    margin-left: 180px;
    margin-right: 180px;
    column-gap: 60px;
    grid-column-start: auto;
    column-width: 100%;
}
.our-event{
    padding: 50px;
    columns: 2;
    margin: 20px;
    column-gap: 60px;
    grid-column-start: auto;
    column-width: 100%;
}
.event-image{
    transition: all .5s ease-in-out;
    width: 500px !important;
    margin-bottom: 10px;
    padding: 10px;
    height: 300px;
    border-radius: 2.5rem !important;
}


#background-video{
    height: 400px;
    width: 100%;
    top: 0;
    padding: none;
}
.eventheading{
    display: flex;
    justify-content: center;
}
.ename{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.ediscription{
    font-size: 1.5rem;
    text-align: center;
}
.heading-upcoming{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.buttonforevent{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    margin: 2rem 20rem;
    display: flex;
    justify-content: center;
    color: white;
    background: linear-gradient(to right, #4b9fe1, #3778c2);
    padding: 12px 28px;
    border-radius: 50px;
    text-decoration: none;
}
.buttonforevent:hover{
    background: #277bdb;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.iconcontainer{
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 1rem 3rem;
    color: black;
}
.fa-pen-square{
    margin: 0rem 1rem;
    font-size: 1.6rem;
}
@media screen and (max-width: 960px){
    .elistcard{
        width: 500px;
        height: auto;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .event-image{
        height: 400px;
        width: fit-content;
    }
    .our-event{
        margin: 0px;
        padding: 0px;
        columns: 1;
    }
    .upcoming-events{
        padding: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .ediscription{
        font-size: 1.5rem;
        text-align: center;
    }
    .buttonforevent{
        margin: 1rem 3rem;
        display: flex;
        justify-content: center;
        color: white;
        background: linear-gradient(to right, #4b9fe1, #3778c2);
        padding: 6px;
        border-radius: 10px;
        text-decoration: none;
    }
    .buttonforevent:hover{
        background: linear-gradient(to left, #4b9fe1, #3778c2);
        color: white;
        text-decoration: none;
    }
}
@media screen and (min-width: 1550px){
    .eventpagebackgimg{
        padding: 130px;
    }
    .ediscription{
        font-size: 2.3rem;
    }
    .ename{
        font-size: 3.0rem;
    }
}