/*-Css file*/
a{
  text-decoration: none;
}
.card-container {
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  margin-bottom: 2rem;
  padding: 0em;
  width: 100%;
}
.projectpage{
  padding: 40px;
  columns: 3;
}
.App {
  display: inline-flex;
  margin: 1.5rem;
  justify-content: center;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.image-container img {
  overflow: hidden;
  height: 200px; 
}
.image-container{
  margin-bottom: 15px;
}
.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}
h3,
p1 {
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0.5rem;
}
.btnn span{
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0;
  }
  .btnn a .fa{
    display: flex;
    padding: 0;
    justify-content: center;
  }
  .btnn a{
  padding: 15px;
  list-style: none;
  }
  .btnn a .fa{
    padding: 5px;
    columns: 1;
  height: 40px;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  margin: 0 3px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px black;
  z-index: 1;
  }
 .card-container:hover .fa{
  color: rgb(29, 167, 91);
  transform: rotateY(360deg);
  font-size: 35px;
  transition: .8s ease-in-out;
 }
   a:hover .fa{
    color: rgb(31, 161, 59);
    transform: rotateY(360deg);
    transition: .5s ease-in-out;
    }
@media (min-width: 769px) and (max-width: 1024px){
  .projectpage{
    columns: 2;
  }
}
@media screen and (max-width: 768px){
  .projectpage{
    columns: 2;
  }
}
@media screen and (max-width: 520px){
  .projectpage{
    padding: 20px;
    columns: 1;
  }
}