/*-Css file*/

.card-container {
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  margin-bottom: 2rem;
  padding: 0em;
  width: 100%;
}

.projectpage{
  padding: 40px;
  columns: 3;
}

.App {
  display: inline-flex;
  margin: 1.5rem;
  justify-content: center;

}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.img-container img {
  overflow: hidden;
  height: 200px; 
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p1 {
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0.5rem;
}

.btnn {
  display: flex;
  justify-content: center;
}

.btnn button {
  padding: 0.5rem;
  background-color: white;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

.btnn button:hover {
  background: rgba(27, 156, 252, 0.1);
  transform: scale(1.1);
}

.btnfont {
  text-transform: uppercase;
  color: rgb(78, 76, 76);
  text-decoration: none;
  font-weight: bold;
}
.btnfont:hover{
  text-decoration: none;
  color: black;
}
@media (min-width: 769px) and (max-width: 1024px){
  .projectpage{
    columns: 2;
  }
}
@media screen and (max-width: 768px){
  .projectpage{
    columns: 2;
  }
}
@media screen and (max-width: 520px){
  .projectpage{
    padding: 20px;
    columns: 1;
  }
}