/*-Css file*/

.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
  margin-bottom: 2rem;
}

.App {
  display: inline-block;
  margin: 1.5rem;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.img-container img {
  overflow: hidden;
  height: 200px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.5rem;
}

h3,
p1 {
  margin: 0;
  padding: 0;
}

.card-title {
  margin-bottom: 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  padding: 0.5rem;
  background-color: white;
  transition: 0.2s;
  margin-bottom: 0.5rem;
  border-radius: 3px;
}

btn button:hover {
  background: rgba(27, 156, 252, 0.1);
  transform: scale(1);
}

a {
  text-transform: uppercase;
  color: #1b9cfc;
  text-decoration: none;
  font-weight: bold;
}
