.foot{
  background: linear-gradient(-45deg,#00003f,black);
  height: 100%;
  padding: 5px;
  overflow: hidden;
  transition: all ease-in-out 1s;
  box-shadow: 0px 0px 5px 0px;
}
.items{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo1{
  width: 50px;
  height: 40px;
  transition: .8s;
  z-index: 3;
  /* animation: logorotate .8s ease-in-out infinite; */
  display: block;
}
.logo1:hover{
  transform: rotate(360deg);
}
.wig{
display: flex;
padding: 0;
}
.wig li{
padding: 10px;
list-style: none;
}
.wig li a{
width: 40px;
height: 40px;
text-align: center;
line-height: 30px;
font-size: 16px;
margin: 0 3px;
display: block;
border-radius: 50%;
position: relative;
overflow: hidden;
border: 1px black;
z-index: 1;
}
.wig li a .fa{
position: relative;
transition: .5s;
z-index: 3;
  font-size: 20px;
}
.wig li a:hover .fa{
color: #fff;
transform: rotateY(360deg);
font-size: 23px;
}
.wig li:nth-child(1) a:hover .fa{
  color: #05dd58;
}
.wig li:nth-child(2) a:hover .fa{
color: #2ea3f1;
}
.wig li:nth-child(3) a:hover .fa{
  color: #FF0000;
}
.wig li:nth-child(4) a:hover .fa{
  color: #C13584;
}
.wig li:nth-child(5) a:hover .fa{
color: #df323a;
}
.wig li a:before{
content: "";
position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 100%;
transition: .5s;
z-index: 2;
}
.suggestionbox{
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 20px;
  color: white;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
 display: inline-block;
background: #000000;
width: 600px !important;
height: 40px;
font-size: 15px;
/* box-shadow: 
inset 0 0 25px rgba(55, 84, 170,0),
inset 0 0 20px rgba(255, 255, 255,0),
-2px -2px 8px rgba(255, 255, 255,1),
inset 5px 5px 4px rgba(255, 255, 255,.2); */
}
#inputtext{
  color: #fff;
}
.suggestionbox span{
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}
.suggestionbox:hover{
  background-color: #1369CE;
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in-out;
}

.footer-copyright{
text-align: center;
color: #2ea3f1;
border-radius: 40px;

}
.buttontext{
font-size: 20px ;
text-decoration: none;
}

.name{
display: flex;
justify-content: center;
padding: 15px;
}
.groupname{
margin-top: 5px;
color: #2A82A2;
text-shadow: 1px 1px 3px rgba(255, 250, 250, 0.705);
padding-left: 5px;
font-family: 'Noto Serif', serif;
text-transform: uppercase;
letter-spacing: -2px;
}
.groupname span{
  font-size: 20px;
}

h1 span{
margin: 11px 0 17px 0;
font-size: 30px;
text-shadow: 0 13.36px 8.896px #c4b59d;
letter-spacing: 2px;
}
.submit{
  font-size: 15px !important;
  margin-bottom: 15px;
  border-radius: 15px !important;
  width: 200px;
  height: 35px;
}
@media screen and (max-width: 578px){
  h1 span{
    letter-spacing: -2px;
  }
}

